<!DOCTYPE html>
{% load static %}
<html lang="he-IL" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>משלמים בחשבון HeyPal ומקבלים תשלום באשראי | People Bank IL</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Front Page-->
        <div class="front-page">
            <!--Section 1-->
            <section class="section-1">
                <div class="navbar-wrapper">
                    <nav class="navbar">
                        <div class="menu">
                            <div class="menu-icon">
                                <div class="line line-1">
                                    
                                </div>
                                <div class="line line-2">

                                </div>
                                <div class="line line-3">

                                </div>
                            </div>
                            <span>תפריט</span>
                        </div>
                        <div class="navbar-logo logo">
                            <span class="p-1">P</span>
                            <span class="p-2">P</span>
                            <span class="p-3">{l}</span>
                            Bank
                        </div>
                        <ul class="nav-list">
                            <li class="nav-list-item dropdown-hover">
                                <a href="" class="nav-list-link">חשבון אישי
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="nav-dropdown nav-dropdown-personal">
                                    <li class="nav-dropdown-item dropdown-heading">
                                        <a href="#">
                                            <i class="fas fa-chevron-down"></i>
                                        חשבון אישי
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            מה זה PPLBank?
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            מה ניתן לעשות עם חשבון אישי
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            שלחו תשלום בארץ ובעולם
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            קבלו תשלום בארץ ובעולם
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            דילים שווים לחברי האתר
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            הורידו את האפליקציה לטלפון חכם
                                        </a>
                                    </li>
                                </ul>                                     
                            </li>
                            <li class="nav-list-item dropdown-hover">
                                <a href="" class="nav-list-link">חשבון עסקי
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="nav-dropdown nav-dropdown-business">
                                    <li class="nav-dropdown-item dropdown-heading">
                                        <a href="#">
                                            <i class="fas fa-chevron-down"></i>
                                            חשבון עסקי
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            כל הפתרונות לעסקים
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            גלו כאן את מגוון המוצרים שלנו
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            קבלו תשלום מיידי לעסק/לאתר שלכם 
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            להעביר ולקבל תשלום דרך רשת האינטרנט
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            לשלוח חשבונית במייל    
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            צרו ושלחו חשבוניות דרך החשבון שלכם                              
                                        </a>
                                    </li>
                                    <li class="nav-dropdown-item">
                                        <a href="" class="nav-dropdown-link-1">
                                            מכרו בכל רחבי העולם
                                        </a>
                                        <a href="" class="nav-dropdown-link-2">
                                            תצמיחו את העסקים שלכם בעזרת PPLBank
                                        </a>
                                    </li>
                                </ul> 
                            </li>
                            <li class="nav-list-item">
                                <a href="" class="nav-list-link">שותפים שלנו</a>
                            </li>
                        </ul>
                        <div class="navbar-buttons">
                            <button class="navbar-btn login-btn login">כניסה</button>
                            <button class="navbar-btn signup-btn signup">הרשמה</button>
                        </div>
                    </nav>
                </div>
                <div class="banner">
                    <h1 class="banner-heading">אל דאגה, יש לך את הגב שלנו</h1>
                    <p class="banner-paragraph">פתיחת חשבון אנונימי, קבלת כרטיס דביט, מתן הלוואות נוחות
                         , כל הכלים הבנקאים והפיננסיים רק ללא הקשיים והסיבוכים
                    </p>
                    <button class="blue-btn">נא להרחיב על השרות...</button>

                </div>
            </section>
            <!--End of Section 1-->
            <!--Section 2-->
            <section class="section-2">
                <h1 class="section-2-heading">PPLbank הוא בנק אחד לכל אחד בעולם בלי תנאים מקדימים</h1>
                <div class="services">
                    <div class="service">
                        <i class="fas fa-user-tie"></i>
                        <h3 class="service-heading">חשבונות אישיים</h3>
                        <p class="service-paragraph">גלו מדוע מאות אלפי אנשים מעדיפים לפתוח חשבון ב-PPLBank.</p>
                        <button class="service-btn">גלו לי עוד...</button>
                    </div>
                    <div class="service">
                        <i class="fas fa-briefcase"></i>
                        <h3 class="service-heading">בתי עסק</h3>
                        <p class="service-paragraph">הצטרפו לאלפי עסקים ברחבי העולם שכבר מקבלים תשלום עם PPLBank.</p>
                        <button class="service-btn">גלו לי עוד...</button>
                    </div>
                    <div class="service">
                        <i class="fas fa-handshake"></i>
                        <h3 class="service-heading">מפתחים ושותפים</h3>
                        <p class="service-paragraph">עבדו עם PPLBank והציעו ללקוחות שלכם פתרונות תשלום מתקדמים יותר.</p>
                        <button class="service-btn">גלו לי עוד...</button>
                    </div>
                </div>
            </section>
            <!--End of section 2-->
            <!--Section 3-->
            <div class="section-3">
                <h1 class="section-3-heading">
                    העולם מעדיף את PPLBank
                </h1>
                <div class="features">
                    <div class="feature">
                        <h3 class="feature-heading">    
                            הגנה מירבית על חשבונכם
                        </h3>
                        <p class="feature-paragraph">
                            תוכנית protect your client ,מקנה לבעלי החשבון הגנה מקיפה נגד איומים על כספם.
                        </p>
                    </div>
                    <div class="feature">
                        <h3 class="feature-heading">    
                            העברת כספים במהירות מחשבון לחשבון
                        </h3>
                        <p class="feature-paragraph">
                            להעביר כספים בכל רחבי העולם בקלות ובמהירות.
                        </p>
                    </div>
                    <div class="feature">
                        
                        <h3 class="feature-heading">    
                            עמלות נמוכות 
                        </h3>
                        <p class="feature-paragraph">
                            ההרשמה לשירות בנקאי PPLBank היא חינם ,עמלה נלקחת אך ורק אם המרתם מטבע.
                        </p>
                    </div>
                    <div class="feature">
                        <h3 class="feature-heading">    
                            פשטות ויעילות 
                        </h3>
                        <p class="feature-paragraph">
                             מטעינים את החשבון בכסף מזומן,   ו-PPLBank תאפשר לבצע רכישות באלפי אתרים.
                        </p>
                    </div>
                    <div class="feature">
                        <h3 class="feature-heading">    
                            שרותים בנקאיים 24/7
                        </h3>
                        <p class="feature-paragraph">
                            אנחנו לשירותכם במשך כל שעות היממה, ובכל ימי השבוע.
                        </p>
                    </div>
                </div>
            </div>
            <!--End of Section 3-->
            <!--Section 4-->
            <section class="section-4">
                <h1 class="section-4-heading"> 
                    נרשמים לפתיחת חשבון PPLBank. 
                </h1>
                <div class="section-4-content">
                    <ul class="section-4-list">
                        <li class="section-4-list-item">
                            <span class="number">1</span>
                            <span>
                                פתיחת חשבון
                            <a href="#">בעלי עסקים</a>
                            </span>
                        </li>
                        <li class="section-4-list-item">
                            <span class="number">2</span>
                            <span>
                                פתיחת חשבון
                            <a href="#">קונים/מעבירים</a>
                            </span>
                        </li>
                        <li class="section-4-list-item">
                            <span class="number">3</span>
                            <span>
                                אפשרויות הפקדה
                            <a href="#">לבעלי חשבונות</a>
                            </span>
                        </li>
                    </ul>
                    <div class="section-4-img-wrapper">
                        <img src="{% static 'images/macbook.png' %}" alt="">
                    </div>
                </div>
            </section>
            <!--End of Section-->
            <!--Section 5-->
            <section class="section-5">
                <div class="section-5-top">
                    <h2 class="section-5-top-heading">
                        הירשמו ל-PPLBank והתחילו לקנות.
                    </h2>
                    <button class="blue-btn signup">
                        פתיחת חשבון בחינם
                    </button>
                </div>
                <footer class="footer">
                    <div class="footer-top">
                        <ul class="footer-list">
                            <li>
                                <a href="#">
                                    עזרה ויצירת קשר
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    עמלות
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                  אבטחה ופרטיות
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    יישומים
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   חנויות
                                </a>
                            </li>                          
                        </ul>
                        <ul class="footer-list">
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/Flag_of_Israel.png' %}" alt="">
                                </a>
                            </li> 
                            <li>
                                <a href="#">
                                   עברית
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    אנגלית
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                 ערבית
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                 צרפתית
                                </a>
                            </li>                         
                        </ul>
                    </div>
                    <div class="footer-bottom">
                        <p class="copyright">כל הזכויות &copy; שמורות לבלו-נינג'ה 2023</p>
                    </div>
                </footer>
            </section>
            <!--End of Section 5 -->
        </div>
        <!--End of Front Page-->
        <!--Login page-->
        <div class="login-page">
            <div class="login-page-content">
                <div class="login-logo logo">
                    <span class="p-1">P</span>
                    <span class="p-4">P</span>
                    <span class="p-5">{l}</span>
                    <span>Bank</span>
                </div>
                <form class="login-form" action="">
                    <input class="form-login-input" type="text" placeholder="למלא אימייל או מספר טלפון">
                    <input class="form-login-input" type="password">
                    <input type="button" class="form-login-btn" value="הבא">
                    <a href="#" class="form-login-link">
                    נתקלת בבעיה? לחץ כאן
                    </a>
                    <span>או</span>
                    <input type="button" class="form-signup-btn signup" value="הרשמה">
                </form>
            </div>
        </div>
        <!--End of Login page-->
        <!--Sign up page-->
        <div class="signup-page">
            <div class="signup-page-top">
                <div class="signup-page-logo logo">
                    <span class="p-1">P</span>
                    <span class="p-4">P</span>
                    <span class="p-5">{l}</span>
                    <span>Bank</span>
                </div>
                <button class="login">כניסה</button>
            </div>                        
            <div class="signup-page-content">
                <div class="signup-page-content-left">
                    <div class="content-left-images">
                        <img src="{% static 'images/person-1.jpg' %}" alt="">
                        <img src="{% static 'images/person-2.jpg' %}" alt="">
                        <img src="{% static 'images/person-3.jpg' %}" alt="">
                    </div>
                    <h1>
                        גלו מדוע אלפי אנשים אוהבים את PPLBank.
                    </h1>
                </div>
                <div class="signup-page-content-right">
                    <h3>
                        פתחו חשבון ב-PPLBank זה בחינם.
                    </h3>
                    <h4>
                        בחרו באחת משתי האפשרויות, ופתחו חשבון עכשיו:
                    </h4>
                    <form action="" class="signup-page-form">
                        <div class="input-group">
                            <input type="radio" name="checkbox" checked>
                            <div class="option">
                                <h3>חשבון אישי</h3>
                                <p>
                                    רכוש ברחבי האינטרנט ובעולם , בצורה מאובטחת ואנונימית.
                                </p>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="checkbox">
                            <div class="option">
                                <h3>חשבון עסקי</h3>
                                <p>
                                    קבלו תשלום לעסק שלכם, בכל זמן ומכל מקום, התקנה מהירה, גם לקונים שאין להם חשבון PPLBank.
                                </p>
                            </div>
                        </div>
                        <button class="blue-btn login">
                            הבא
                        </button>
                    </form>
                </div>
            </div> 
        </div>
        <!--End of Sign up page-->
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>